:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding-inline-start: 0px;
}
.categories {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.categories__item {
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}

.categories__item:hover {
  background-color: #d6d6d8;
}

.categories__item__selected {
  background-color: #bdbdc1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.products__item {
  margin: 8px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product__title {
  margin-top: 8px;
}

.product__image {
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

@media (min-width: 600px) {
  .products__item {
    width: calc(50% - 16px);
  }
}

@media (min-width: 1000px) {
  .products__item {
    width: calc(33% - 16px);
  }
}

@media (min-width: 1600px) {
  .products__item {
    width: calc(25% - 16px);
  }
}
